#navbar-links {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding-left: 5vw;
    gap: 5%;
    li {
        font-size: 24px;
    }

    .links {
        text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        transition: text-decoration-color 300ms;
    }

    .links:hover {
        text-decoration-color: rgba(0, 0, 0, 1);
    }
}
