.item-edit-container {
    position: relative;

    .menu-item-edit {
        padding-inline: 40px;
        position: absolute;
        top: 10px;
        right: 16px;
    }
    .menu-item-edit:focus {
        box-shadow: none;
    }
}
