.item-edit-container {
    $side-margin: 24px;

    .menu-item-edit {
        width: 30%;
        text-align: right;

        * {
            width: 40%;
        }
    }
    .menu-item-edit:focus {
        box-shadow: none;
    }
}
