.menu-item-edit-container {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    .menu-item-edit-button-group {
        width: 50%;
        margin-block: 5px;
        gap: 10px;
        button {
            flex: 1;
        }
    }
}

.item-edit-container {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 24px;
    border-radius: 5px;
}

.item-img {
    width: 200px !important;
}

@media (max-width: 900px) {
    .item-edit-container {
        flex-direction: column;
    }
    .field-box {
        max-width: 90% !important;
    }
}

@media (hover: none) {
    .desc-textbox {
        overflow: hidden;
    }
}
