#navbar {
    padding: 8px 24px 12px 24px;

    #logo {
        width: 60px;
        height: 60px;
    }

    #app-name {
        text-align: center;
        font-size: 50px;
        line-height: 60px;
    }
}
